/* .memory-game {
  margin: auto;
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid lime;
} */

.memory-card {
  /* position: relative;
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  transform: scale(1); */
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: stretch;
  gap: 1rem; */
}
/* 
.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front-face,
.back-face {
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
} */

.bold {
  font-weight: 600;
  text-transform: uppercase;
}
.memory-game {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #01579b;
}
.memory-game header {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
}
.memory-game header > div {
  font-size: 15px;
  width: 324px;
  text-align: center;
  margin: 0 auto;
}
.memory-game footer {
  width: 360px;
  position: relative;
  margin: 0 auto;
  padding: 10px 4px;
  margin-top: 10px;
}
.memory-game footer .score {
  justify-content: center;
  display: flex;
}
.memory-game footer .score div {
  padding: 8px;
}
.memory-game footer .restart {
  display: flex;
  justify-content: center;
}
.memory-game .memory-card {
  border: 1px solid #dedede;
  padding: 12px;
  box-shadow: 0 0 4px 4px #dedede;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: stretch;
  gap: 1rem;
  margin: 0 auto;
  width: 640px;
  height: 640px;
  perspective: 100%;
  max-width: 720px;
}
.score {
  margin-top: 5px;
  margin-bottom: 10px;
  color: white;
}

.button {
  width: 100px;
  height: 60px;
  border-color: #8e44ad;
  border-radius: 0;
  color: #8e44ad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.button:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #8e44ad;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.button:hover {
  color: #fff;
}
.button:hover:after {
  width: 110%;
}
